In [1]:
from path_reference.folder_reference import get_data_path
from webscrapping.witcher_scrapping import WitcherScrapper
from data.df_cleanup import cleanup_df
from pathlib import Path
from selenium.webdriver.common.by import By
import os
import spacy
from spacy import displacy
import pandas as pd

In [3]:
entities = pd.read_csv(Path(get_data_path(), "entities.csv"))

In [4]:
forbidden_characters = ["[", "'", "]"]
entities["entities"] = entities["entities"].apply(lambda x: ''.join([item for item in x if item not in forbidden_characters]))

In [5]:
entities

                                               sentence            entities
0           \n\n'Come on, Geralt, it'll be supper soon.              Geralt
1     Damned mother's-!' \n\n'Careful, Velerad,' sna...       VeleradOstrit
2     'Say what you want about the striga but do not...                Adda
3              Segelin and Ostrit looked at each other.       SegelinOstrit
4     'At the very beginning, seven years ago, she t...  seven years agotwo
...                                                 ...                 ...
1870                              She turned to Geralt.              Geralt
1871          Iola-' \n\n'Don't say anything, Nenneke.'             Nenneke
1872                  And not for the first time.' \n\n               first
1873                                       See to Iola.                Iola
1874                                 So long, Nenneke.'             Nenneke

[1875 rows x 2 columns]

In [2]:
characters = pd.read_csv(Path(get_data_path(), "characters.csv"))
#cleanup_df(characters)

In [12]:
#first_names = [x.lower() for x in characters["character_first_name"].tolist()]
characters[characters["character_first_name"].str.lower() == "two"]

                  book  character character_first_name
1255  Time of Contempt  Two Tusks                  Two

In [11]:
sp1 = "['Geralt']"
forbidden_characters = ["[", "'", "]"]
for c in forbidden_characters:
    sp1 = sp1.replace(c, "")
sp1

'Geralt'

In [9]:
sp1 = "geralt, yennefer"
sp1.split(", ")

['geralt', 'yennefer']

In [23]:
def filter_entity_df(entity_list: list[str], characters_df: pd.DataFrame):
    first_names = [x.lower() for x in characters_df["character_first_name"].tolist()]
    full_names = [x.lower() for x in characters_df["character"].tolist()]
    return [entity for entity in entity_list
            if entity.lower() in first_names
            or entity.lower() in full_names]

sent_entity_df["character_entities"] = sent_entity_df["entities"].apply(
            lambda x: filter_entity_df(x, characters))

In [25]:
# Filter sent_entity_df where character_entities values are null
sent_entity_df = sent_entity_df[sent_entity_df["character_entities"].map(len) > 0]
sent_entity_df

,sentence,entities,character_entities
0,"(\n\n, ', Come, on, ,, Geralt, ,, it, 'll, be,...",[Geralt],[Geralt]
1,"(Damned, mother's-, !, ', \n\n, ', Careful, ,,...","[Velerad, Ostrit]","[Velerad, Ostrit]"
2,"(', Say, what, you, want, about, the, striga, ...",[Adda],[Adda]
3,"(Segelin, and, Ostrit, looked, at, each, other...","[Segelin, Ostrit]","[Segelin, Ostrit]"
4,"(', At, the, very, beginning, ,, seven, years,...","[seven years ago, two]",[two]
...,...,...,...
1868,"(Nenneke, raised, herself, to, her, knees, and...",[Nenneke],[Nenneke]
1870,"(She, turned, to, Geralt, .)",[Geralt],[Geralt]
1871,"(Iola-, ', \n\n, ', Do, n't, say, anything, ,,...",[Nenneke],[Nenneke]
1873,"(See, to, Iola, .)",[Iola],[Iola]
1874,"(So, long, ,, Nenneke, ., ')",[Nenneke],[Nenneke]

In [36]:
x = ["Geralt of Rivia"]
[item.split()[0] for item in x]

['Geralt']

In [15]:
characters

                  book               character character_first_name
0      Baptism of Fire                  Adalia               Adalia
1      Baptism of Fire                   Adela                Adela
2      Baptism of Fire           Aen Saevherne                  Aen
3      Baptism of Fire                Aevenien             Aevenien
4      Baptism of Fire                  AglaÃ¯s               AglaÃ¯s
...                ...                     ...                  ...
1270  Time of Contempt        Yanna of Murivel                Yanna
1271  Time of Contempt           Yarpen Zigrin               Yarpen
1272  Time of Contempt  Yennefer of Vengerberg             Yennefer
1273  Time of Contempt         Yiolenta Suarez             Yiolenta
1274  Time of Contempt                   Zyvik                Zyvik

[1275 rows x 3 columns]